openapi: 3.1.0
info:
  version: 1.0.0
  title: Gift Cards
  description: Gift cards are an awesome way to send and receive value in a digital economy that is fast becoming the future. Reloadly's Gift Card API connects you to over 200 gift card brands and 13000 gift card products that can be used both locally and internationally across 140+ countries. <br> <br> This enables you to purchase gift cards for both commercial and personal reasons. Some of the data you will need are your access token and the brand details of the gift card. <br> <br> <blockquote style="font-size:16px; padding:30px 15px; color:#000000; background:rgba(212, 31, 28, 0.07); border-radius:5px">To avoid any authentication errors, ensure you are working with the right access token for the Gift Cards product. You can find out more details in the <a href="https://docs.reloadly.com/tag/Authentication">Authentication</a> section.</blockquote>
  termsOfService: 'https://www.reloadly.com/terms-of-use'
  contact:
    email: support@reloadly.com
    url: 'https://www.reloadly.com/'
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
tags:
  - name: Authentication
    description: Reloadly uses access tokens ( or bearer tokens ) to authenticate requests and grant access to our APIs. Access tokens differ across our various products. This means that you can only use an access token generated for the airtime service on the Airtime API, the same goes for other products. <br><br> Also, Reloadly has two operating environments - **Production** which allows you work with live credentials while building real world applications and **Sandbox** which helps you access our APIs in test mode and simulate real-like scenarios. Below is a table that shows the server URL for each of Reloadly's products. <br><br> <table><thead><tr><th>Product</th><th>Environment</th><th>Service URL</th></tr></thead><tbody><tr><td>Giftcards</td><td>Production</td><td>https://giftcards.reloadly.com</td></tr><tr><td></td><td>Sandbox</td><td>https://giftcards-sandbox.reloadly.com</td></tr></tbody></table> <br><br> To get an access token, first obtain your **client id** and **client secret** from the <a href="https://www.reloadly.com/">Reloadly dashboard</a>. Then make a **POST** request with the payload format provided in the code sample section.    
  - name: Products
    description: The data on **Products** provides useful insight into the gift card products that can be purchased via Reloadly's platform. Using the **Products** feature, you can access details of over 200 gift card products and make purchases as well. <br> <br> Some of the information included in the product's details are the product's name, denomination type, discount rate,  fixed amounts where applicable, country's details, and brand details attached to the product. The FX rate the gift card is purchased at is calculated against the currency of the account making the purchase.    
  - name: Redeem Instructions
    description: The Redeem Instructions feature works with data such as the gift card's brand ID to make instructions on how to redeem a gift card available to end users. With the details of a gift card's redeem instructions, it can be used upon purchase. <br> <br> Information you can have access to includes summmarised and detailed instructions on how to redeem a purchased gift card.
  - name: Discounts
    description: Information on gift card discounts can be handy when trying to figure out the best deals before purchasing a gift card. The GiftCard **Discounts** feature gives you access to every gift card offering a discount at the point of purchase. <br> <br> Important data in the details of each discount include the discount percentage and details of the gift card product that's offering the discount.
    
  - name: Transactions
    description: The GiftCard **Transactions** feature is a ledger that enables you to access information on every gift card purchased by an account. Every gift card is assigned a unique transaction ID upon purchase and can have one of the following statuses <br> <br> <style type="text/css">  .tg  {border-collapse:collapse;border-spacing:0;}  .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;   overflow:hidden;padding:10px 5px;word-break:normal;}  .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}  .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}  .tg .tg-fymr{border-color:inherit;font-weight:bold;text-align:left;vertical-align:top} </style> <table class="tg">  <thead> <tr>  <th class="tg-0pky">Status</th>  <th class="tg-0pky">Summary</th>  </tr>  </thead> <tbody>  <tr>  <td class="tg-fymr">**SUCCESSFUL**</td>   <td class="tg-0pky">The gift card was successfully purchased.</td>  </tr> <tr> <td class="tg-fymr">**PENDING**</td> <td class="tg-0pky">An order was placed for the gift card but it is queued up and yet to be processed.</td> </tr> <tr> <td class="tg-fymr">**PROCESSING**</td> <td class="tg-0pky">An order for the gift card was placed but it is still processing.</td> </tr><tr>   <td class="tg-fymr">**REFUNDED**</td>   <td class="tg-0pky">An attempt to purchase the gift card wasn't successful and the customer's funds were instantly reversed.</td> </tr>  <tr> <td class="tg-fymr">**FAILED**</td> <td class="tg-0pky">The gift card could not be purchased at the time the transaction was attempted and the customer's funds are yet to be reversed.</td> </tr> </tbody> </table> <br> <br> Important data in the details of every gift card transaction include the transaction ID, transaction date, the gift card's brand ID and name, the number of gift cards purchased, the unit price per gift card, and the discount applied to the gift card transaction.
   
  - name: Orders
    description: The **Orders** feature works with other features to purchase a gift card. With this, you can place orders for both local and international (global) gift cards. <br> <br> Some of the information you can view includes the transaction ID, the custom identifier for each gift card purchase, the discount offered on each gift card, each top-up, and the brand details of the gift card.
    
components:
  securitySchemes:
    BearerToken:
      type: http
      scheme: bearer

security:
  - BearerToken: [] 
  
servers:
  - url: https://auth.reloadly.com
  
paths:
  /oauth/token:
    $ref: 
        paths/access-token.yaml
    servers:
      - url: https://auth.reloadly.com       
  /products:
    $ref: paths/giftcards-get-all-products.yaml
    servers:
      - url: https://giftcards.reloadly.com
        description: Production
      - url: https://giftcards-sandbox.reloadly.com
        description: Sandbox
  /products/{productid}:
    $ref: paths/giftcards-get-product-by-id.yaml
    servers:
      - url: https://giftcards.reloadly.com
        description: Production
      - url: https://giftcards-sandbox.reloadly.com
        description: Sandbox
  /countries/{countrycode}/products:
    $ref: paths/giftcards-get-product-by-iso.yaml
    servers:
      - url: https://giftcards.reloadly.com
        description: Production
      - url: https://giftcards-sandbox.reloadly.com
        description: Sandbox
  /redeem-instructions:
    $ref: paths/giftcards-get-all-redeem-instructions.yaml
    servers:
      - url: https://giftcards.reloadly.com
        description: Production
      - url: https://giftcards-sandbox.reloadly.com
        description: Sandbox
  /redeem-instructions/{brandId}:
    $ref: paths/giftcards-get-redeem-instructions-by-brand-id.yaml   
    servers:
      - url: https://giftcards.reloadly.com
        description: Production
      - url: https://giftcards-sandbox.reloadly.com
        description: Sandbox
  /discounts:
    $ref: paths/giftcards-get-all-discounts.yaml
    servers:
      - url: https://giftcards.reloadly.com
        description: Production
      - url: https://giftcards-sandbox.reloadly.com
        description: Sandbox
  /products/{productId}/discounts:
    $ref: paths/giftcards-get-discount-by-product-id.yaml
    servers:
      - url: https://giftcards.reloadly.com
        description: Production
      - url: https://giftcards-sandbox.reloadly.com
        description: Sandbox
  /reports/transactions:
    $ref: paths/giftcards-get-all-transactions.yaml
    servers:
      - url: https://giftcards.reloadly.com
        description: Production
      - url: https://giftcards-sandbox.reloadly.com
        description: Sandbox
  /reports/transactions/{transactionId}:
    $ref: paths/giftcards-get-transaction-by-id.yaml
    servers:
      - url: https://giftcards.reloadly.com
        description: Production
      - url: https://giftcards-sandbox.reloadly.com
        description: Sandbox
  /orders:
    $ref: paths/giftcards-order-a-gift-card.yaml
    servers:
      - url: https://giftcards.reloadly.com
        description: Production
      - url: https://giftcards-sandbox.reloadly.com
        description: Sandbox
  /orders/transactions/{transactionId}/cards:
    $ref: paths/giftcards-get-a-redeem-code.yaml
    servers:
      - url: https://giftcards.reloadly.com
        description: Production
      - url: https://giftcards-sandbox.reloadly.com
        description: Sandbox